h2 Forgot password
p Enter your email address to receive instructions on resetting your password.
ul
    li
        label Email
        input(type='text')
    li
        button(ng-click='resetPassword()') Reset password
    li
        a(href='#', ng-click='login()') Login