h2 Login
ul
    li
        label User
        input(type='text')
    li
        label password
        input(type='password')
    li
        button(ng-click='login()') Login
    li
        a(href='#', ng-click='forgotPassword()') Forgot password