ul
    li
        a(href='#', ng-click='goto(\'sysadmin\')') System Admins
    li
        a(href='#', ng-click='goto(\'coords\')') Care Coordinators
    li
        a(href='#', ng-click='goto(\'providers\')') Service providers
    li
        a(href='#', ng-click='goto(\'patients\')') Clients / Patients
    li
        a(href='#', ng-click='goto(\'partners\')') Partners
    li
        a(href='#', ng-click='goto(\'settings\')') Settings
    li
        a(href='#', ng-click='goto(\'logout\')') Logout