extends layout
block body
    div(ng-controller='mapController') {{name}}
        ui-gmap-google-map(center="map.center" zoom="map.zoom" control="map.control")
            ui-gmap-marker(ng-repeat="m in map.markers" coords="m" icon="m.icon" click="onMarkerClicked(m)" idKey="m.id" options="m.options")
                ui-gmap-window(ng-cloak  coords="m.coords" isIconVisibleOnClick="true" options="map.infoWindowWithCustomClass.options") {{m.options.windowContent}}
        //    <p>This is an info window at {{ m.latitude | number:4 }}, {{ m.longitude | number:4 }}!</p>
        //    <p class="muted">My marker will stay open when the window is popped up!</p>
        //    </ui-gmap-window>
        //</ui-gmap-marker>
    //script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.js')
    script(src='js/bundle.js')
    //script(src='http://cdn.rawgit.com/nmccready/angular-simple-logger/0.0.1/dist/index.js')
    //script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.2.1/angular-google-maps.min.js')